# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
develop-eggs/
dist/
downloads/
egg-info/
*.egg-info/
.installed.cfg
*.egg
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
logs/
temp/
